#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &none &kp N1 &kp N2 &kp N3 &kp N4
        &none &kp N5 &kp N6 &kp N7 &kp N8
        &none &kp N9 &kp N0 &kp MINUS &kp EQUAL
        &none &kp LCTRL &kp LALT &kp TAB &kp ESC
      >;
    };
  };
};

